/*
Place your CSS customizations here.
This stylesheet is defined last and will override all previously loaded sheets. You may reference variables defined in variables.css 
 */
 
.bold-blue {
  font-weight: 900;
  color: var(--menu-top-bg-color);
}

.state-map {
  float: right;
  margin-left: 20px;   /* Adds space between image and text */
  margin-bottom: 10px; /* Adds space below the image */
  max-height: 300px;        /* Optional: sets a fixed size */
  filter: drop-shadow(4px 4px 8px gray);  /* Contoured drop shadow for transparent png */
}

.logo-banner {
  height: 200px;
  margin: auto;
}

.header-container {
  display: flex;
  gap: 20px; /* Optional: adds space between left and right sections */
}

.header-large-left {
  flex: 2; /* Takes up more proportional space */
  background-color: lightblue;
}

.header-stacked-right {
  flex: 1; /* Takes up less space */
  display: flex;
  flex-direction: column; /* Stacks the two divs */
  gap: 20px; /* Optional: space between stacked divs */
}

.header-right-top, .header-right-bottom {
  background-color: lightcoral;
}

.brand-logo {
  grid-area: brand;
  justify-self: start;
  padding-left: 3rem;
  /* align a and brand-name */
  clear: both;
  padding-top: 0.5rem;
  grid-column: 1;
  display: flex;
  align-items: stretch;
}
.brand-logo img {
  height: 6rem;
  object-fit: contain; /* scale image keeping proportions */
  filter: brightness(1);
  justify-content: center;
}

/* Medium-large desktop screens and up */
@media screen and (min-width: 1024px) {
  .brand-logo {
    max-width: var(--logo-width);
  }
}

